.menu {
  @include content-padding-inlain;

  width: 100%;
  background-color: $bc-color-top-bar;
  color: white;

  padding-block: 27px;

  z-index: 100;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  @include on-tablet {
    padding-block: 40px;
  }

  &__top {
    display: flex;
    column-gap: 28px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-line;

    @include on-tablet {
      padding: 0;
    }
  }

  .nav {
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      gap: 24px;
      flex-wrap: wrap;

      @include on-tablet {
        column-gap: 20px;
        width: 220px;
      }
    }

    &__item {
      width: 100px;
    }

    &__link {
      text-decoration: none;
      color: white;
      line-height: 16px;
    }
  }

  &__content {
    @include on-tablet {
      display: flex;
      justify-content: space-between;
    }

    @include on-desktop {
      padding-block: 448px;
    }
  }
}

.icon--close {
  display: inline-block;
}

.menu__bottom {
  margin-top: 24px;
  font-size: 14px;
  line-height: 21px;

  @include on-tablet {
    display: flex;
    align-items: center;
    margin: 0;
    width: 50%;

    .schedule__title {
      display: block;
    }
  }
}

.schedule {
  @include on-tablet {
    display: flex;
    flex-wrap: wrap;
    height: 105px;

    &__time {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}

.description {
  margin-top: 16px;

  @include on-tablet {
    &__text {
      margin: 0;
    }
  }
}
