@import 'utils';
@import 'fonts';
@import 'typography';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/footer';

* {
  box-sizing: border-box;
}

body {
  background: $c-gray;
  margin: 0;
  padding: 0;
}
